## Lists
- Python list is also a built-in data structure available in Python. It can contain heterogeneous values 
such as integers, floats, strings, tuples, lists, and dictionaries. 
However, Python lists are mutable; yes, they can change.

In [ ]:
# creating a list with values
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]
l1 = []

## Unpacking list values

In [1]:
a, b = [1, 2]

In [3]:
#a, b, c = [2, 3]

## List operations
- In this section, you will learn slicing, accessing, adding, deleting, and updating the values in a list.

### Accessing list values
- In order to access list values, use list names with positional index in square brackets.

In [4]:
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]


# accessing elements at different position in the list

### Slicing the list
- The slicing of a list is the same as we did in tuples. See the syntax:

    
- $list-name$[start : stop : step]

In [5]:
# reverse the list


# different examples of slicing

Avengers[2: 5]

list1 = [1,2,3,4,5,6,7,8,9,10,11,12,13]


#list1[1:13:3]

## Updating the list
- Lists are mutable, so the values of a list can be updated.

In [6]:
Avengers = ['hulk', 'iron-man', 'Captain', 'Thor', 5, ["Ali", "Simbi"]]

# update the 3rd element to "Captain-America"

## Deleting values from a list
- By using the $del$ keyword, you can delete a value or a slice of list from the list.

In [8]:
C_W_team = ['hulk', 'iron-man', 'Captain-America', 'Thor',"Vision"]

# delete the first element from the list

#del C_W_team[0]

In [9]:
#C_W_team

In [10]:
#del C_W_team[2:4]

In [11]:
#C_W_team

## Addition of Python Lists
- You can add two lists by using the + operator.

In [12]:
Avengers1 = ['hulk', 'iron-man', 'Captain-America', 'Thor']
Avengers2 = ["Vision","sam"]

# add the two lists

## Multiplication of lists
- By using the * operator, you can perform multiplication of Python lists.

In [13]:
Av = ['Vision', 'sam']

#new_Av = Av*3

#new_Av

## in Operator
- You can use the in operator on list with the if statement.

In [16]:
Avengers= ['hulk', 'iron-man', 'Captain-America', 'Thor']

# check if "iron-man" is in the list


# you can also check on "vision"

## List functions
- In this section, we will discuss some Python built-in functions, which can be applied to a list.

In [17]:
# The len() function returns the number of elements or values in the list
avengers = ['hulk', 'iron-man', 'Captain-America', 'Thor']


# The max (list) function returns the element of the list with the maximum value:
list1 = [1, 2, 3, 4,510]

## list()
- You can easily convert a tuple into a list by using the list () function.

In [18]:
# convert the tuple to a list
tup1 = ("a","b","c")


name = "mohit raj"

## sorted()
- Python offers you a function to sort the list, called sorted ().

In [19]:
list1 = [2, 3, 0, 3, 1, 4, 7, 1]

# sort the list both in ascending and descending order

tup1 = (2, 3, 0, 3, 1, 4, 7, 1)

## List Methods
- Here, we will discuss different methods that can be applied to a list.

## append()
- The syntax for the append () method is given as follows:
    - list.append () 

- The method adds a value at the end of the list.

In [20]:
Avengers = []

# Append ["iron-man", 'Thor'] to the empty list


# Also append "Captain-America"

## extend()
- If the goal is to add two lists together, and want the original list affected, then "extend()" is appropriate.
- The syntax for the extend () method is given as follows:
    - list1.extend (seq)

In [21]:
Avengers1 = ['hulk', 'iron-man', 'Captain-America', 'Thor']
Avengers2 = ["Vision","sam"]


# extend the first list by the second list

In [22]:
#Avengers1

## difference btw append and extend

In [23]:
Linux  = ["kali", "Ubuntu", "debian"]
Linux2 = ["RHEL", "Centos"]

# append the two lists
#Linux.append(Linux2)
#Linux

# extend the lists

## sorted() and sort()

In [24]:
l1 = [3, 2, 3, 6, 9, 4, 50]


# sort the list using sort() and sorted()
#l1.sort(reverse = True)

#sorted(l1, reverse = True)

## count()
- The count () method is used to find the occurrence of an item in a list.

In [25]:
list1 = ["a","c","b","c","a","h","l", 1, 2, 3, 4]

# count the number of times "a", "c", and "k" occur

#list1.count("a")

## index()
- The index () method is used to find the position of a particular item in a list.

In [26]:
OS = ['kali', 'Ubuntu', 'debian', 'RHEL', 'Centos']

# find the position of "debian" in the list
#OS.index("debian")

# If an item occurs two times, then the index method returns the index of the first occurrence.

## insert()
- The syntax for the insert () method is given as follows:
    - list1.insert (index1, item)
    

- $index1$ is the position where the item needs to be inserted. The $item$ is the value to be inserted into list1.

In [65]:
A = ['iron-man', 'hulk', 'Thor']

# insert 'Captain-America' in the ist position 
A.insert(0, "Captain-America")
A

['Captain-America', 'iron-man', 'hulk', 'Thor']

## remove()
- The remove () method is used to remove an item from a list.

In [66]:
Avengers1 = ["Iron-man","Thor","Loki","hulk"]

# remove "Loki" from the list
Avengers1.remove("Loki")

#num = [1,2,3,4,5,6,4,1,7]

# remove number 2 from the list

Avengers1

['Iron-man', 'Thor', 'hulk']

## reverse()
- Our last list method is reverse(). The reverse() method reverses the items of a list.

In [69]:
av = ['hulk', 'iron-man', 'Captain-America', 'Thor', 'vision', 'Clint']

# reverse the list

av.reverse()
av

['Clint', 'vision', 'Thor', 'Captain-America', 'iron-man', 'hulk']

## List Comprehensions
- List comprehension is a concise way of creating lists.

In [72]:
list1 = [2,3,4,5,6]

# loop through the list to get the square of each number in the list
square = []   # create an empty list
for i in list1:
    square.append(i ** 2)
square

# using list comprehension
square = [i** 3 for i in list1]
square

[8, 27, 64, 125, 216]

In [76]:
#  Create a new list that would contain the square of the even numbers of a given list
list1 = [2,3,4,5,6, 7, 8, 9, 10]

even_square = []
for i in list1:
    if i % 2 == 0:
        even_square.append(i ** 2)
even_square

even_square = [i ** 2 for i in list1 if i % 2 == 0]
even_square

[4, 16, 36, 64, 100]

## Dictionaries
- In Python, a dictionary is a sequence of key-value, or item pairs separated by commas. 
- Consider the following example:
    - port = {22: "SSH", 23: "Telnet" , 53: "DNS", 80: "HTTP" } 
- The port variable refers to a dictionary that contains port numbers as keys and its protocol names as values. 
- Consider the following example:
    - companies = {"IBM": "International Business Machines", "L&T" :"Larsen & Toubro"} 
- The syntax of a dictionary is as follows:
    - Dictionary_name = {key: value}

## Accessing the values of dictionary
- In order to access the dictionary's values you will need the key.

In [27]:
port = {80: "HTTP", 23 : "Telnet", 443 : "HTTPS"} 

# get the key of value 23

## Deleting an item from the dictionary
- By using the $del$ keyword, you can delete the entire dictionary or the dictionary's items.

In [78]:
# delete an item in the dictionary
del port[80]
port

{23: 'Telnet', 443: 'HTTPS'}

## Updating the values of the dictionary
- Updating the dictionary is pretty simple; just specify the key in the square bracket along with the dictionary name. 
The syntax is as follows:
    - dict[key] = new_value

In [28]:
port = {80: "HTTP", 23 : "SMTP", 443 : "HTTPS"} 

# update the value of key 23 to "TELNET"

## Adding an item to the dictionary
- Adding an item to the dictionary is very simple; just specify a new key in the square brackets along with the dictionary.

In [83]:
# add key:value (110:'POP') to the dictionary above

port["name"] = ['POP', 'SMTP']
port

{80: 'HTTP', 23: 'TELNET', 443: 'HTTPS', 110: 'POP', 'name': ['POP', 'SMTP']}

## Dictionary functions

In [84]:
# In order to find the number of items that are present in a dictionary, you can use the len() function.

len(port)

5

In [29]:
# convert list to a dictionary
port = [[80,"http"],[20,"ftp"],[23,"telnet"],[443,"https"],[53,"DNS"]]

## update()

In [87]:
port1 = {22: "SSH", 23: "telnet", 80: "Http"}
port2 = {53 :"DNS", 443 : "https"}

# update port1
port1.update(port2)
port1

{22: 'SSH', 23: 'telnet', 80: 'Http', 53: 'DNS', 443: 'https'}

## items()
- The items() method returns the list of dictionary's (key, value) tuple pairs.

In [30]:
dict1 = {1: 'one', 2:'two', 3:'three'}

# get the items of the dictionary
#dict1.items()

## in Operator
- The in operator can be used to find the existence of a key in the dictionary.

In [31]:
port1 = {21: "FTP", 22:"SSH", 23: "telnet", 80: "http"} 

# write a program to collect an integer key from a user, if the key is in the port, then print yes otherwise no

In [32]:
# accessing the keys

#dict1.keys()

In [33]:
# accessing the values
#dict1.values()

## Python Dictionary with for loop

In [101]:
port1 = {21: "FTP", 22 :"SSH", 23: "telnet", 80: "http"} 

for k, v in port1.items():
    print(k, ":", v)

21 : FTP
22 : SSH
23 : telnet
80 : http

## Exercise
-  Write a program using the following list and sort it based on the sum of the values of the tuples of the list:
    - [(1,5),(9,0),(12,3),(5,4),(13,6),(1,1)]

    
-  Write a Python program to sum all the items in a list. [1, 2, -8, -3]


-  Write a Python program to count the number of strings where the string length is 2 or more and 
the first and last character are same from a given list of strings.

   ['abc', 'xyz', 'aba', '1221', 'bhgsskknb', 'aa'] 
    


- write a program such that $list1$ will act as keys while $list2$ will act as the values of the dictionary:
    - list1 = [1, 2, 3, 4, 5], list2 = ["a", "b", "c","d", "e"]